    </div>
    <script type="text/javascript" src="{{config.portal_resources_uri}}/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{config.portal_resources_uri}}/bower_components/flat-ui/dist/js/flat-ui.min.js"></script>
  </body>
</html>

